determined==0.13.10
determined-cli==0.13.10
determined-deploy==0.13.10
torch==1.7.0
torchvision==0.8.1
jupyterlab==3.0.0
ipywidgets==7.6.2
tensorboard==2.4.0
scipy==1.6.0
tqdm==4.55.1
opencv-python==4.5.1.48
seaborn==0.11.1
facenet-pytorch==2.5.1
echoAI==0.1.3